<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Mobile Platform</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Android</a>
            <a class="navbar-item" href="#">iOS</a>
            <a class="navbar-item" href="#">Cordova</a>
            <a class="navbar-item" href="#">Xamarin</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Build</a>
            <a class="navbar-item" href="#">Push</a>
            <a class="navbar-item" href="#">Auth</a>
            <a class="navbar-item" href="#">Security Checking</a>
          
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Infrastructure Platform</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Minishift</a>
            <a class="navbar-item" href="#">OpenShift Origin</a>
            <a class="navbar-item" href="#">OpenShift Dedicated</a>
            <a class="navbar-item" href="#">OpenShift Container Platform</a>
            <a class="navbar-item" href="#">OpenShift Online</a>

          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Downloads</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
