@import "base.css";
@import "main.css";
@import "navigation.css";
@import "navigation-menu.css";
@import "navigation-explore.css";
@import "toolbar.css";
@import "breadcrumbs.css";
@import "page-versions.css";
@import "doc.css";
@import "header.css";
@import "footer.css";
@import "highlight.css";

.hidden {
  display: none;
}

.switch {
  width: 100%;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
}

.switch--item {
  padding: 10px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

.switch--item.selected {
  background-color: #2e6980;
  color: #fff;
  border-radius: 10px;
}
